

 body {
    min-height: 100vh;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif
 }

#header {
    font-size: 6rem;
    text-shadow: 2px 2px 4px gray;
    display: flex;
    justify-content: center;
}

#main {
    background-color: white;
    display: flex;
    justify-content: center;
}

#board {
    display: grid;
    grid: repeat(3, 210px) / repeat(3, 210px);
    grid-template-areas: 
    "0 1 2"
    "3 4 5"
    "6 7 8";
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 10rem;
    border-radius: 5px;
    background-color: lightgray;
    text-shadow: 2px 2px 4px gray;
    box-shadow: 2px 2px 6px rgb(143, 143, 143);
    transition: .4s;
}

.cell:hover {
    filter: brightness(105%);
}

#text-box {
    margin-top: 30px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

#btn-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-btn {
    font-size: 1.7rem;
    height: 75px;
    width: 180px;
    background-color: rgb(83, 200, 69);
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin: 30px;
    transition: .4s;
}

.nav-btn:hover {
    opacity: .7;
}

#name-box {
    width: 300px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}


